@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 3rem 0;
}

.title-todo h1, .form-todo {
  margin-bottom: 3rem;
}

.title-todo h1 {
  color: rgb(42, 42, 124);
  text-transform: lowercase;
}

.title-todo h1 span {
  color: #8f86b8;
}

.form-todo input:focus {
  outline: none;
}

.form-todo input, button {
  padding: 8px 20px;
  border: none;
  box-shadow: 1px 1px 5px #c1c1c1;
}

.form-todo button {
  cursor: pointer;
}

.empty {
  position: absolute;
  bottom: 20%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.empty img {
  max-height: 200px;
}